#navbar-logo {
  height: 2rem;
  width: 2rem;
}

#navMenu {
  vertical-align: middle;
}

#nav-name {
  margin-top: 7px;
  margin-left: 12px;
}

.navbar-transparent {
  background-color: rgba(255, 255, 255, 0.5); /* Adjust transparency as needed */
}

.navbar-image-container {
  position: relative;
  /* height: 60vh; */
}

.navbar-image-container.homepage {
  height: 60vh; /* Apply homepage specific height */
}

/* Media query for desktop screen */
@media (min-width: 768px) {
  .navbar-image-container.homepage {
    height: 100vh;
  }
}

.navbar-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures the image stays behind the navbar */
}

/* .navbar {
  padding: -50px;
} */



/* .nav-item {} */