#navbar-logo {
  height: 2rem;
  width: 2rem;
}

#navMenu {
  vertical-align: middle;
}

#nav-name {
  margin-top: 7px;
  margin-left: 12px;
}

/* .navbar {
  padding: -50px;
} */



/* .nav-item {} */